:root {
    --purple-color: #6725a8;
    --lilac-color: #cb11ab;
    --red-color: #F55123;
    --white-color: #fff;
    --smoky-color: #F6F6FA;
    --green-color: #0cb477;
    --grey-color:#a0a0a4;
    --smokyDark-color: #F0ECF4;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
}



.container{
    background-color: var(--white-color);
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    position: relative;
    padding-bottom: 24px;
    background-color:var(--purple-color) ;
    z-index: 1;
}
.header::after{
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    border-radius: 24px 24px 0 0;
    background: var(--smoky-color);
    position: absolute;
    bottom: 0px;
    left: 0;
}

.header_container{
    background-color: var(--purple-color);
    display: flex;
    height: 88px;
    padding: 20px 24px;
    width: 100%;
}

.company_logoName_container{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 23px 0;
    max-width: 100%;
    margin-right: 32px;
}

.company_logo{
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 8px;
    padding: 21px 9px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company_name{
    width: 107px;
    font-family: 'Segoe UI'; 
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    padding-bottom: 6px;
}


.search_container{
    background-color: #ffffff33;
    width: 100%;
    margin-right: 32px;
    border-radius: 36px;
    padding: 0 20px;
}

.input_header_container{
    display: flex;
    height:100%;
}

.input_block{
    width: 100%;
}

.search_input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0; 
    color: var(--white-color);
    font-size: 18px;
}

.search_input:focus{
    outline: none;
}

.search_btn{
    background-color: transparent;
    border: none;
    cursor: url('./logos/cursor.svg'),auto;
    opacity: 0.4;
}
.search_logo{
    height: 20px;
    width: 20px;
}
.icons_container{
    justify-content: center;
    align-items: flex-end;
    padding: 0px 17px 0px 0px;
    gap: 40px;
    font-family: "Segoe UI";
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.backet_logo{
    width: 26px;
    height: 22px;
}

.quantity_circle_container{
    position: relative;
}

.quantity_circle{
    position: absolute;
    left: calc(50% - 20px/2 + 18.55px);
    top: calc(50% - 16px/2 - 25px);
    background: var(--red-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
}
.quantity_circle_header{
    left: calc(50% - 2em/2 + 1.5em);
    top: calc(50% - 2em/2 - 1em);
}

.header_icon{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: url('./logos/cursor.svg'),auto;;
}

.main{
    background-color: var(--smoky-color);
}

.main_container{
    padding: 0px 24px 16px;
    gap: 32px;
}

.left_main{
    padding: 0px;
    gap: 27px;
    order: 0;
    flex-grow: 1;
    z-index: 1;
}

.right_main{
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.white_container{
    background: #FFFFFF;
    border-radius: 16px;
}

.order_fullInfo_box{
    width: 429px;
    height: 572px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    align-items: center;
    padding: 16px 24px 24px;
    gap: 24px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.order_list_container{
    gap: 24px;
}

.order_btn_container{
    padding: 0px;
    gap: 12px;
}

.delivery_info_container{
    padding: 0px;
    gap: 12px;
    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}
.card_info_container{
    padding: 0px;
    gap: 12px;
    height: 130px;
    flex-grow: 0;
}
.price_header_info_container{
    justify-content: space-between;
    padding: 0px;
    gap: 9px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    width: 100%
}

.price_info_container{
    padding: 0px;
    width: 100%;
}

.price_container{
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}

.delivery_info_container{
    gap:12px;
}

.delivery_info_header{
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.logo_btn{
    background-color: transparent;
    border: none;
    cursor:url('./logos/cursor.svg'),auto;;
}

.arrive_date{
    color: var(--lilac-color);
    border-bottom: 1px dashed #cb11ab33;
    width: 48px;
    margin-top: 4px;
}

.gray_orfer_info_container{
    width: 100%;
    border-radius: 8px;
    padding: 8px 8px 12px 8px;
    background-color: var(--smoky-color);
}

.green_text{
    color: var(--green-color);
    border-bottom: 1px dashed #0cb47733;
}

.circle_logo{
    position: relative;
    margin-right: 13px;
    width: 20px;
    height: 20px;
}

.check_mark_logo{
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.refund_info_container{
    display: flex;
    justify-content: start  ;
    align-items: center;
}

.card_info{
    gap: 8px;
}
.card_type{
    display: flex;
    max-height: 100%;
    background-color: var(--smoky-color);
}


.buy_btn{
    align-items: center;
    padding: 0px 32px 5px;
    width: 100%;
    height: 44px;
    background: var(--lilac-color);
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: url('./logos/cursor.svg'),auto;;
    color: var(--white-color);
}

.buy_btn_purple{
    background: var(--purple-color);
}

.agree_with_rules_logo{
    width: 13px;
    height: 24px;
}

.agree_with_rules_container{
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
   
}

.agree_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.custom_checkbox_pay{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom_checkbox_pay+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom_checkbox_pay+label::before{
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
}

.custom_checkbox_pay:checked+label::before {
    position: relative;
    top: 0;
    left: 0;
    border-color: #34ee54;
    background-color: #34ee54;
    background-image: url("./logos/Path\ Copy\ 2\ \(Stroke\).svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert();
  }

.left_header{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.01em;
}

.flex_column{
    display: flex;
    flex-direction: column;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.backet{
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
}
.backet_info_container{
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 100%;
}
.inStok_container{
    width: 100%;
}
.pick_all_container{
    align-items: center;
    padding: 0px;
    gap: 11px;
}
.checkbox_flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.full_width{
    width: 100%;
}

.full_height{
    height: 100%;
}

.products_list_container{
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    border-top: 1px solid #0000001a;
}

.product_container{
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.product_type{
    align-items: flex-start;
    padding: 12px 0px 0px;
    gap: 16px;
}

.add_product_container{
    align-items: center;
    padding: 0px;
    gap: 12px;
}
.product_picture{
    height: 96px;
    width: 72px;
}

.product_description{
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    max-width: 275px;
}

.product_info{
    font-size: 13px;
    line-height: 16px;
}

.company_info_container{
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey-color);
}

.company_name_container{
    align-items: center;
    padding: 0px;
    gap: 6px;
    text-align: center;
}
.more_company_info_btn{
    width: 16px;
    height: 16px;
}

.hover_company_info_container{
    position:relative;
    padding: 11px 16px 13px 16px;
    background-color: #fff;
    border-radius: 8px;
    width: 280px;
    height: 114px;
    left: calc(50% - 280px/2);
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}


.black_color{
    color: #000;
}
.quantity_price_container{
    padding-top: 9px;
    gap: 16px;
}

.quantity_container{
    align-items: flex-end;
    padding-top: 3px;
    gap: 8px;
}

#hidden_products_info{
    font-weight: 600;
}

.counter_container{
    width: 100px;
    height: 44px;
    background-color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    letter-spacing: -0.01em;
    font-size: 20px;
    line-height: 24px;
    padding: 0 12px;
}

.product_inStoke{
    font-size: 13px;
    line-height: 16px;
    color: #FF3B30;
}


.delete_like_btns_container{
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.product_price_info_container{
    position: relative;
    width: 110px;
    align-items: flex-end;
    gap: 5px;
    text-align: end;
}

.hidden_discount_info{
    position: absolute;
    width: 239px;
    height: 64px;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 11px 16px 13px;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey-color);
    z-index: 10;
}

.discountPrice_price{
    font-weight: 700;
}

.delete_like_btns_container svg:hover{
    fill: #FF3B30;
}

.notAbailable_container_logos svg:hover{
    fill: var(--lilac-color);
}

.short_discpount_price{
    font-size: 20px;
    line-height: 28px;
}

.prodcut_price{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    color: var(--grey-color);
    font-size: 13px;
    line-height: 16px;
    text-decoration: line-through;
	text-decoration-color: var(--grey-color);
}

.header_not_available{
    font-weight:600;
    justify-content: space-between;
}
 
.not_available_container{
    gap: 16px;
    width: 100%;
}

.not_available_list_container{
    gap: 20px;
    border-top: 1px solid #0000001a;
}
.grey_line{
    border-top: 1px solid #0000001a;
}

.notAvailable_product_container{
    justify-content: space-between;
    gap: 16px;
   
}

.notAvailable_product_type{
    padding-top: 12px;
    gap: 16px;
    width: 309px;
}

.filter_gray{
    filter: gray; 
    -webkit-filter: grayscale(1); 
    filter: grayscale(1); 
}

.notAvailable_product_description{
    gap: 8px;
    color: var(--grey-color);
}

.notAbailable_product_info{
    font-size: 13px;
    line-height: 16px;
}
.notAbailable_right_block{
    width: 226px;
    padding-top:9px;
}

.notAbailable_block_logos{
    align-items: flex-end;
    padding: 3px 0px 0px;
    gap: 16px;
    width: 100px;
}

.notAbailable_container_logos{
    gap: 16px;
}

.registration_container{
    gap: 16px;
    width: 100%;
}

.delivery_container{
    padding: 16px 0px 24px;
    gap: 24px;
}

.delivery_method_container{
    gap: 16px;
}

.delivery_method_container_header{
    padding: 0px 24px;
    gap: 10px;
    justify-content: space-between;
}

.change_delivery_method_btn{
    padding: 7px;
    color: var(--lilac-color);
    font-weight: 700;
}

.delivery_order_info{
    gap: 32px;
    align-self: stretch;
    padding-left: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.delivery_order_left{
    padding-left:24px;
    gap: 16px;
    font-weight: 600;
}

.delivery_order_right{
    padding-right:24px;
    gap: 16px;
}

.market_rating_container{
    gap: 8px;
    font-size: 13px;
    line-height: 16px;
}

.star_rating_container{
    gap: 2px;
}

.arrival_date .quantity_circle_container {
    width: 40px;
    height: 56px;
}

.height_44{
    height: 44px;
}

.height_56{
    height: 56px;
}

.height_16{
    height: 16px;
}

.height_14{
    height: 14px;
}

.delivery_right_place_container{
    gap:4px
}

.payment_container{
    padding: 16px 24px 24px;
    gap: 8px;
}

.recipient_container{
    padding: 16px 24px 24px;
}

.padding_l_24{
    padding-left: 24px;
}

.flex_space_between{
    justify-content: space-between;
}

.gap_16{
    gap:16px;
}

.gap_5{
    gap: 5px;
}

.gap_8{
    gap:8px;
}

.gap_12{
    gap:12px;
}

.gap_10{
    gap:10px;
}

.gap_20{
    gap: 20px;
}

.gap_24{
    gap:24px;
}

.gap_2{
    gap:2px;
}

.gap_4{
    gap:4px;
}

.gap_40{
    gap:40px;
}

.gap_28{
    gap: 28px;
}

.gap_32{
    gap: 32px;
}

.font_w_600{
    font-weight: 600;
}

.center_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin_b_10{
    margin-bottom: 10px;
}
.margin_b_12{
    margin-bottom: 12px;
}

.margin_t_4{
    margin-top: 4px;
}

.color_gray{
    color: var(--grey-color);
}

.font_weight_700{
    font-weight: 700;
}

.recipient_input_settings{
    border: none;
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);
    outline:none;
}

.recipient_input_text{
    font-size: 16px;
    line-height: 24px;
}

.footer{
    height: 88px;
    background-color: var(--purple-color);
    position: relative;
}

.footer::before {
    content: "";
    display: block;
    background-color: var(--smoky-color);
    border-radius: 0 0 24px 24px;
    width: 100%;
    height: 24px;
    position: absolute;
    top: -1px;
    left: 0;
}
.footer_container{
    align-items: center;
    padding: 48px 24px 24px;
    gap: 40px;
}

.footer_text_container{
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.red_warning {
    color: var(--red-color);
    border-bottom: 1px solid var(--red-color);
}

.inputs_warning_text{
    color: var(--red-color);
    height: 14px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
}



.show_element{
    display: block;
}

.refund_warning{
    position: relative;
}

.hover_refund_info{
    position: absolute;
    top:100%;
    left: calc(50% - 288px/2 );
	margin: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    color: #000;
    border-radius: 8px;
    padding: 10px 16px 14px;
    gap: 8px;
    font-size: 13px;
    line-height: 16px;
    background-color:#fff;
    width: 288px;
    height: 56px;
}

.modal_window_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px 24px 24px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    z-index: 99;
}

.adress_modal_window_container{
    width: 500px;
    height: 408px;
    left: calc(50% - 500px/2 + 50.5px);
    top: calc(50% - 408px/2 - 8px);
}

.tab_modal_adress_btn{
    border: 2px solid #cb11ab26;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    cursor:url('./logos/cursor.svg'),auto;
    height: 36px;
}

.tab_modal_adress_btn_active{
    border: 2px solid var(--lilac-color);
}


.card_modal_window_container{
    width: 400px;
    height: 408px;
    left: calc(50% - 400px/2);
    top: calc(50% - 408px/2 - 6.5px);
}

.radio_btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio_btn+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.radio_btn+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.radio_btn:checked+label::before {
    border-color: var(--lilac-color);
    background-color: var(--lilac-color);
    background-image: url(./logos/Ellipse.svg);
}

.adress_container{
    align-items: flex-start;
}

.adresses_container svg:hover{
    fill: #FF3B30;
}
.adresses_container{
    margin-bottom: 57px;
}

.modal_window_header{
}

.modal_header_text{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.btn_modal_adress_container{
    margin: 13px 0 26px;
}

.modal_window_btn{
    width: 164px;
    height: 44px;
    background-color: var(--lilac-color);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    border: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor:url('./logos/cursor.svg'),auto;
}
.card_pick_container{
    margin-top: 13px;
    height: 100%;
}

.phone_adaptive{
    display: none;
}
.hide_element{
    display: none;
}
@media(max-width: 1400px){
    .order_fullInfo_box{
        width: 303px;
        height: 604px;
    }
    .order_list_container{
        width: 100%;
    }
}

@media(max-width: 1024px){
    .main_container{
        flex-direction: column;
        padding: 0;
    }
    .inStok_container {
        padding: 0 16px;
    }
    .not_available_container{
        padding: 0 16px;
    }
    .product_container{
        flex-direction: column;
    }
    .desktop_adaptive{
        display: none;
    }
    .phone_adaptive{
        display: block;
    }
    .header_mob{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 13px;
        gap: 16px;
        color: var(--white-color);
        height: 56px;
    }
    .header_container {
        height: 56px;
        padding: 0;
    }
    .company_name_mob{
        width: 206px;
        /* height: 56px; */
        font-weight: 600;
        font-size: 26px;
        line-height: 24px;
    }
    .mob_product_container{
        padding-top: 12px;
        border-top: 1px solid #0000001a;
    }
    .company_logo{
        margin-right: 0;
    }
    .search_btn_mob{
        opacity: 1;
    }
    .search_logo_container{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .mob_delivery_method_container{
        padding: 0 16px;
        display: flex !important;
    }
    .search_logo_mob{
        position: relative;
        top: 4px;
    }

    .phone_company_logo_header{
        width: 22.5px;
        height: 18.5px;
    }

    .product_inStoke{
        display: block;
    }

    .delete_like_btns_container{
        display: block;
    }

    .notAbailable_container_logos{
        display: block;
    }
    .notAvailable_product_container{
        flex-direction: column;
    }
    .notAvailable_product_type{
        width: 100%;
    }

    .notAbailable_product_name{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .notAbailable_right_block {
        width: 100%;
        padding-top: 9px;
        justify-content: flex-end;
    }
    .prodcut_picture{
        position: relative;
    }
    .custom_checkbox_pay+.mob_checkbox_product{
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .product_name{
        font-family: Segoe UI;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .marketPlaceName{
    font-size: 13px;
    line-height: 16px;
    color: var(--grey-color);
    }

    .input_top_container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .input_bottom_container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .input_container{
        gap: 30px;
    }
    .order_fullInfo_box{
        box-shadow: none;
        width: 100%;
        height: 100%;
        background-color: inherit;
        gap: 36px;
    }
    .gray_orfer_info_container{
        background-color: var(--smokyDark-color);
        font-size: 13px;
        line-height: 16px;
    }
    .card_info_container{
        height: 100%;
    }
    .footer{
        padding-bottom: 56px;
        height: 144px;
    }
    .mob_navbar{
        position: fixed;
        height: 56px;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        z-index: 88;
        background-color: var(--white-color);
        width: 100%;
        padding: 0 13px;
    }
    .adress_modal_window_container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        border-radius: 0;
    }   
    .card_modal_window_container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        border-radius: 0;
    }   
    
    .rating_modal_container{
        display: flex;
        gap: 8px;
    }

    .modal_window_btn_container{
        width: 100%;
    }

    .modal_window_btn{
        width: 100%;
    }
}

